<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceLocation" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://srazphx074.repsrv.com:4949/ServiceLocation.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceLocation"
                contract="ServiceLocationRef.IServiceLocation" name="BasicHttpBinding_IServiceLocation" />
        </client>
    </system.serviceModel>
</configuration>